.Bows {
    color: white;
    font-family: Museo Slab, sans-serif;
    padding-left: 40px;
}

.button-padding {
    margin-right: 12px;
}
.padding {
    padding-top: 12px;
    padding-bottom: 12px;
}

.bord{
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

.imagesplace{
    margin: 0;
    background: #2d2d2d;
    padding: 0 !important;
}

.bord-bottom {
    border-bottom: 1px solid black;
}

.paddingcont {
    margin-left: 0;
    margin-right: 0;
}
button {
  display: inline-block;
}
.margin {
    margin-top: 14px;
}

  @media (max-width: 768px) {
   .row {
        flex-wrap: nowrap;
    }
 } 

 @media (max-width: 955px) {
     .noneplace {
        display: none;
    } 
 }