<nav class="navbar navbar-inverse bg-inverse" *ngIf="!gameService.game">
        <div class="container-fluid paddingcont">
                <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 padding">
                                <div class="row">
                                        <div class="col-lg-2 col-xl-2 noneplace">
                                        </div>
                                        <div class="col-xs-3 col-ms-3 col-lg-3 col-md-3 col-xl-3 align-self-center Bows">
                                                <h1 style="color: white; cursor: pointer;" (click)="router.navigate([''])">{{languageService.get('headerName')}}</h1>
                                        </div>
                                        <div class="col-xl-5 col-lg-5 col-md-7 offset-md-2 col-xs-5 col-sm-5 align-self-center text-right ">
                                                <div class="btn-group allbattons">
                                                        <button type="button" class="btn btn-default align-self-center button-padding btn-lg bord" [ngClass]="{margin: userService.currentUserData}"
                                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                {{languageService.get('language')}}
                                                                <span class="glyphicon glyphicon-chevron-down"></span>
                                                        </button>
                                                        <ul class="dropdown-menu imagesplace">
                                                                <li class="bord-bottom">
                                                                        <a title="Choose language"><img src="assets/images/en_GB.jpg" (click)="langEng()"
                                                                                        width="100px" height="50px"></a>
                                                                </li>

                                                                <li>
                                                                        <a title="Choose language"><img src="assets/images/ru_RU.png" (click)="langRus()"
                                                                                        width="100px" height="50px"></a>
                                                                </li>
                                                        </ul>
                                                        <div class="twobutton">
                                                                <button type="submit" class="first btn main-button btn-lg button-padding" (click)="showLogin()" *ngIf="!userService.currentUser">{{languageService.get('login')}}</button>

                                                                <button type="submit" class="secound btn main-button btn-lg button-padding" (click)="showSignUp()" *ngIf="!userService.currentUser"> {{languageService.get('register')}}</button>

                                                                <div style="color: white;"> {{ userService.currentUserData? languageService.get('hello')
                                                                        + userService.currentUserData.nickname : '' }} </div>
                                                                <button type="submit" class="btn main-button btn-lg " (click)="logOut()" *ngIf="userService.currentUser">{{languageService.get('logOut')}}</button>
                                                                <button type="submit" class="btn main-button btn-lg" (click)="redirect()" *ngIf="userService.currentUser">{{showButton()}}</button>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</nav>