<div class="container-fluid" *ngIf="!gameService.game">
  <div class="footer col-xl-12 col-lg-12 col-md-12">
    <div class="row" align-middle>
      <h2 class="reserved">{{languageService.get('allRightReserved')}}</h2>
      <!--<a href="#" class="footersite">
        <h2 class="connect">{{languageService.get('contactWithUs')}}</h2>
      </a>-->
    </div>
  </div>
</div>