.container-fluid {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.footer {
    background: #2d2d2d;
    color:white;
    height: 100px;
}

.row {
    height: 100px;
}

.connect {
    padding-left: 10px;
    line-height: 100px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.footersite{
    color:white;
    text-decoration: none;
    font-family: italic;
}

.footersite:hover {
    color:navajowhite;
    text-decoration: none;
}


.reserved {
    padding-left: 50px;
    line-height: 100px;
    padding-bottom: 0;
    margin-bottom: 0;
}
