<div class="modal-body">
  <div class="container-fluid">
    <form role="form">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-ms-12 col-xs-12">
          <div class="form-group color">
            <label for="expamleInputE-mail"><h2>E-mail</h2></label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
              <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleInputNickName" placeholder="{{ languageService.get('enterEmail') }}*">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-ms-12 col-xs-12">
          <div class="form-group color">
            <label for="expamleInputPassword"><h2>{{ languageService.get('expamleInputPassword') }}</h2></label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon"><span class="glyphicon">&#xe033;</span></div>
              <input type="password" [(ngModel)]="pass" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleInputPassword" placeholder="{{ languageService.get('enterPassword') }}*">
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center" id="footer" (click)='signIn()' >
        <div class="col-lg-12 col-md-12 col-ms-12 col-xs-12 text-center">
          <a  class="btn">
            <h1>{{ languageService.get('login') }}</h1>
          </a>
        </div>
      </div>
       <p class="help-block">{{  this.resultSignIn }}</p>
    </form>
  </div>
</div>