<div class="modal-header">
  <h4 class="modal-title">{{languageService.get('hello')}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body">
  <p>{{languageService.get('chooseLang')}}</p>
  <img src="assets/images/en_GB.jpg" (click)="langEng()" height="133" width="200" alt="English"> <br>
  <hr>
  <img src="assets/images/ru_RU.png" (click)="langRus()" alt="Русский">
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">{{languageService.get('close')}}</button>
</div>