<div class="container-fluid" *ngIf="userService.currentUserData && !gameService.gameIsOver" (window:beforeunload)="gameService.detectLeaver()">
  <div class="row align-items-center bs-cont">
    <!--start image  -->
    <div class="col-lg-3 offset-lg-0 col-md-12 offset-md-0 col-sm-12 col-xs-12 align-self-center txt-cent">
      <div class="oval">
        <img [src]="userService.userProfileImage ? userService.userProfileImage : 'assets/images/bow.jpg'" alt="">
        <h1>{{userService.currentUserData.nickname}}</h1>
      </div>
    </div>
    <!--the end image  -->
    <div class="col-lg-2 offset-lg-0 col-md-6 offset-md-3 col-sm-12 col-xs-12 txt-cent">
      <div *ngIf="gameService.game.player1Turns && gameService.player == 1 || gameService.game.player2Turns && gameService.player == 2">
        <h1 class="my">{{languageService.get('yourTries')}}</h1>
        <div class="firstplayer border">
          <div *ngFor="let i of gameService.getMyTurns()">{{i}} - {{i | transfer: gameService.getOpponentNumber()}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 offset-lg-0 col-md-6 offset-md-3 col-sm-12 col-xs-12">
       <div class="txt-cent" *ngIf="gameService.player == 1 && gameService.game.status == 'player2Turn' || gameService.player == 2 && gameService.game.status == 'player1Turn'">
         <h1>{{languageService.get('opponentTurn')}}</h1>
         </div>
      <div class="txt-cent" *ngIf="gameService.game.status == 'searching'">
        <img src="http://www.gifki.org/data/media/211/korova-animatsionnaya-kartinka-0231.gif" border="0" alt="">
        <h1 class="searching">{{languageService.get('gameSearch')}}</h1>
      </div>
      <h1 class="txt-cent" *ngIf="gameService.game.status == 'drawing' && gameService.player == 1 && !gameService.game.player2Number && gameService.game.player1Number || gameService.game.status == 'drawing' && gameService.player == 2 && !gameService.game.player1Number && gameService.game.player2Number">{{languageService.get('opponentEntersNumber')}}<br></h1>
      <h1 class="txt-cent" *ngIf="gameService.player == 1 && gameService.game.status == 'player1Turn' || gameService.player == 2 && gameService.game.status == 'player2Turn'">{{languageService.get('yourTurn')}}<br></h1>
      <h1 class="txt-cent" *ngIf="(gameService.player == 1 && gameService.game.status == 'player1Turn' || gameService.player == 1 && gameService.game.status == 'drawing' && !gameService.game.player1Number ) || (gameService.player == 2 && gameService.game.status == 'player2Turn' || gameService.player == 2 && gameService.game.status == 'drawing' && !gameService.game.player2Number)">{{languageService.get('timeLeft') + gameService.tick}}</h1>
      <div *ngIf="!(gameService.game.player1Number && gameService.player == 1 || gameService.game.player2Number && gameService.player ==2) && gameService.game.status == 'drawing'">
        <div class="input-group txt-cent">
          <input type="text" class="form-control form-control-lg" [(ngModel)]="number" name="numberr" placeholder="{{languageService.get('enterNumber')}}">
          <span class="input-group-btn">
        <button type="button" class="btn btn-success" (click)="validationService.checkNumber(number); focusOutNumber = true; setNumber(number);">{{languageService.get('setNumber')}}</button>
         </span>
        </div>
        <button type="button" class="btn btn-primary" (click)="number = this.validationService.random(4)">{{languageService.get('generate')}}</button>
      </div>
       <p class="help-block" *ngIf="focusOutNumber && !validationService.checkNumber(number)">{{languageService.get('digits')}}</p>
      <div class="txt-cent" *ngIf="(gameService.game.status == 'player1Turn' && gameService.player == 1 || gameService.game.status == 'player2Turn' && gameService.player ==2)">
        <div class="input-group txt-cent">
          <input type="text" class="form-control form-control-lg" [(ngModel)]="tryNumber" name="numbertry" placeholder="{{languageService.get('enterNumber')}}">
          <span class="input-group-btn">
        <button type="button" class="btn btn-danger btn-lg" (click)="focusOutTryNumber = true; gameService.tryNumber(tryNumber);">{{languageService.get('expectedNumber')}}</button>
         </span>
        </div>
      </div>
       <p class="help-block" *ngIf="focusOutTryNumber && !validationService.checkTryNumber(tryNumber)">{{languageService.get('tryNumberAlert')}}</p>
    </div>
    <div class="col-lg-2 offset-lg-0 col-md-6 offset-md-3 col-sm-12 col-xs-12 txt-cent">
      <div *ngIf="gameService.game.player1Turns && gameService.player == 2 || gameService.game.player2Turns && gameService.player == 1">
        <h1 class="your">{{languageService.get('opponentTries')}}</h1>
        <div class="secoundplayer border">
          <div class="transnumber" *ngFor="let i of gameService.getOpponentTurns()">{{i}} - {{i | transfer: gameService.getYourNumber()}}
          </div>
        </div>
      </div>
    </div>
    <!--start image  -->
    <div class="col-lg-3 offset-lg-0 col-md-12 offset-md-0 col-sm-12 col-xs-12 align-self-center txt-cent" *ngIf="gameService.player2Data">
      <div class="oval">
        <img class="oval img" [src]="gameService.player2Data.photo ? gameService.player2Data.photo : 'assets/images/bow.jpg'" alt="">
        <h1>{{gameService.player2Data.nickname}}</h1>
      </div>
    </div>
    <!--the end image  -->
  </div>
</div>