.bs-cont {
    height: 100vh;
}
body {
    margin: 0;
}
.txt-cent {
    text-align: center;
}
.oval {
    text-align: center;
}
.oval img {
    border: 0px solid black;
    border-radius: 125px;
    height: 250px;
    width: 250px;
}

.firstplayer {
    min-height: 200px;
    min-width: 300px;
    color:black;
    font-size: 13px;
    background: white;    
    border: 1px solid whitesmoke;
    border-radius: 20px;
}

.my {
    color: #179b77;
}

.secoundplayer {
    min-height: 200px;
    min-width: 300px;
    color:black;
    font-size: 13px;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    background: white;  
}

.your {
    color: firebrick;
}

.abouttimer {
    height: 50px;
    line-height: 50px;
    margin: 3px;
}

.Timer {
    font-size: 25px;
}
.border {
      border: 2px solid black;
}