<!--<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title mw-b-25-blk">Crop Photo</h4>
		</div>-->

		<!-- Modal Content -->

		<div class="modal-body">
      	<p *ngIf="imgError" style="color:red;"> {{imgError}} </p>
			<div class="crop-img">
        <input type="file" accept="image/jpeg,image/png,image/gif" (change)="onImageSelected($event)"> 
				<img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>

				<span class="result rounded" *ngIf="false">
					<img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
				</span>

				<input type="submit" value="Save"  (click)="confirm()" class="button-white-1 m-t-35 btn-success"  [ngClass]="{'error-img' : imgError || !data.image }">
			</div>
		</div>

		<!-- Modal Content -->

	<!--</div>
</div>-->
