<!-- <div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
</div> -->
<div class="modal-body">
  <div class="container-fluid">
    <form role="form">
      <div class="row" id="nick">
        <div class="col-lg-8 col-md-8 col-ms-8 col-xs-8">
          <div class="form-group color">
            <label for="expamleInputNickName">{{ languageService.get('expamleInputNickName') }}</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
              <input type="text" class="form-control" (focusout)="focusOutNick = true" id="exampleInputNickName" [ngClass]="{invalid: focusOutNick && !validationService.validateString(userData.nickName, { minLength: 3, maxLength: 12, clearSpaces: true }).validity}"
                name="titleNick" [(ngModel)]="userData.nickName" placeholder="{{languageService.get('expamleInputNickName')}}*">
            </div>
            <p class="help-block" *ngIf="focusOutNick && !validationService.validateString(userData.nickName, { minLength: 3, maxLength: 12, clearSpaces: true }).validity">{{ validationService.validateString(this.userData.nickName, { minLength: 3, maxLength: 12, clearSpaces: true
              }).message }}</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
          <div class="btn-group knopka text-center">
            <label class="btn btn-primary">
              {{ languageService.get('nameCheck') }}
            </label>
          </div>
          <div class="paragraphs">
            <p class="freeplace">{{ languageService.get('freeplace') }}</p>
            <p class="notfreeplace">{{ languageService.get('notfreeplace') }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-8 col-ms-8 col-xs-8">
          <div class="form-group color">
            <label for="expamleInputE-mail">E-mail</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon"><span class="glyphicon">&#xe021;</span></div>
              <input type="email" class="form-control" (focusout)="focusOutEmail = true" id="exampleInputNickName" [ngClass]="{invalid: focusOutEmail && !validationService.validateString(userData.email, { isMail: true }).validity}"
                name="titleEmail" [(ngModel)]="userData.email" placeholder="E-mail*">
            </div>
            <p class="help-block" *ngIf="focusOutEmail && !validationService.validateString(userData.email, { isMail: true }).validity">{{ validationService.validateString(this.userData.email, { isMail: true }).message }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-8 col-ms-8 col-xs-8">
          <div class="form-group color">
            <label for="expamleInputPassword">{{ languageService.get('expamleInputPassword') }}</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon"><span class="glyphicon">&#xe033;</span></div>
              <input type="password" class="form-control" (focusout)="focusOutPass = true" id="exampleInputPassword" [ngClass]="{invalid: focusOutPass && !validationService.validateString(userData.password, { minLength: 8, maxLength: 12, clearSpaces: true }).validity}"
                name="titlePass" [(ngModel)]="userData.password" placeholder="{{ languageService.get('expamleInputPassword') }}*">
            </div>
            <p class="help-block" *ngIf="focusOutPass && !validationService.validateString(userData.password, { minLength: 8, maxLength: 12, clearSpaces: true }).validity">{{ validationService.validateString(this.userData.password, { minLength: 8, maxLength: 12, clearSpaces: true
              }).message }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-8 col-ms-8 col-xs-8">
          <div class="form-group color">
            <label for="expamleInputPassword">{{ languageService.get('retryPassword') }}</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon"><span class="glyphicon">&#xe030;</span></div>
              <input type="password" class="form-control" (focusout)="focusOutRetryPass = true" [ngClass]="{invalid: focusOutRetryPass && this.tmpStr != userData.password}"
                id="exampleInputPassword" name="titleRetryPass" [(ngModel)]="tmpStr" placeholder="{{ languageService.get('retryPassword') }}*">
            </div>
            <p class="help-block" *ngIf="focusOutRetryPass && this.tmpStr != userData.password">{{ languageService.get('retryPasswordAlert') }}</p>
          </div>
        </div>
      </div>
      <div class="row text-center" id="footer">
        <div class=" col-lg-12 col-md-12 col-ms-12 col-xs-12 text-center">
          <a href="#" class="btn">
            <h1 class="text-center" (click)="focusOutNick = true; focusOutEmail = true; focusOutPass = true; focusOutRetryPass = true; signUp();">{{ languageService.get('getStarted') }}</h1>
          </a>
        </div>
      </div>
      <p class="help-block">{{  this.resultSignUp }}</p>
    </form>
  </div>
</div>