.modal-body{
    padding:0;
     /* border-radius: 30px;
    border: 5px solid transparent !important;  */
}


.container-fluid{
    background: #2d2d2d;
    height: 100%;
}

.midle h1 {
    text-align: center;
    color: white;
}

.header {
    text-align: center;
}

.header a {
    color: white;
    text-decoration: none;
}

.help-block {
    color: red;
}

.fl1 {
    background: #1AB188;
}

.fl1:hover {
    background: #179b77;
    text-decoration: none;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.fl2 {
    background: lightskyblue;
}

.fl2:hover {
    background: lightseagreen;
    text-decoration: none;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

#footer {
    background: #1AB188;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

#footer a {
    color: white;
}

#footer:hover {
    background: #179b77;
    text-decoration: none;
    -webkit-transition: .5s ease;
}

#forgot a {
    color: #1AB188;
    text-decoration: none;
}

#forgot a:hover {
    color: #1AB188;
    text-decoration: none;
}

#nick {
    clear: both;
    padding-top: 18px;
}

#file {
    clear: both;
}

.knopka {
    padding-top: 20px;
}

.modal-body label{
    color:white;
}

.freeplace {
    color: green;
    text-align: center;
}

.notfreeplace {
    text-align: center;
    color:red;
}
.invalid {
    background-color: red;
}

/*  */