<div class="container-fluid bs-cont" *ngIf="userService.currentUserData" (window:beforeunload)="gameService.detectLeaver()">
  <div class="col-md-4 offset-md-4  btn btn-success footerbutton myButton2" (click)="changeImage()">
    <h1>{{languageService.get('imgChanger')}}</h1>
  </div>
  <div class="oval" (click)="changeImage()">
    <img [src]="newImage ? newImage.croppedImageSource:  (userService.userProfileImage ? userService.userProfileImage : 'assets/images/bow.jpg')"
      alt="">
  </div>
    <div class="row">
      <div class="col-md-4 offset-md-4  btn btn-success footerbutton myButton" (click)="upload()">
        <h1 *ngIf="!isLoading">{{languageService.get('save')}}</h1>
        <h1 *ngIf="isLoading">{{languageService.get('loading')}}</h1>
      </div> 
      <div class="col-md-4 offset-md-4  btn btn-success footerbutton myButton1" (click)="delete()">
        <h1 *ngIf="!isDeleting">{{languageService.get('delete')}}</h1>
        <h1 *ngIf="isDeleting">{{languageService.get('deleting')}}</h1>
      </div>
    </div>
</div>