/* You can add global styles to this file, and also import other style files */
.modal-content {
    border-radius: 10px !important;
    border: 5px Solid #2d2d2d !important; 
    width: 100%;
    
    
}

/* .modal-dialog {
    padding-left: 13%;
} */

.main-button {
    background: #1AB188;
    color:white;
}

.main-button:hover{
    background: #179b77;
    text-decoration: none;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

