<div class="modal-header txt-cent">
  <h4 class="modal-title">{{result}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click'); gameService.finishGame()">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body">
  <img [src]="image" height="300" width="400" alt="gameResult"> <br>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click'); gameService.finishGame()">{{languageService.get('close')}}</button>
</div>