.container-fluid{
    padding-top: 50px;
    padding-bottom: 50px;
}

#centerbutton {
    background: #1AB188;
    height: 100px;
    line-height: 100px;
}
#centerbutton:hover{
     background: #179b77;
    text-decoration: none;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

#centerbutton a{
    color: white;
    text-decoration: none;
    font-size: 40px !important;
}

#regulations {
    color: black;
    padding-top: 50px;

}

#regulations h3 {
    padding-bottom: 10px;
}

/* #centerbutton a:hover {
    color: navajowhite;
} */

.Bow {
    padding-left: 50px;
    padding-right: 50px;
}

.Cow {padding-left: 50px;
padding-right: 50px;}

.size p {
    font-size: 26px !important;
}

.example {
    padding-left: 50px;
    padding-right: 50px;
}

@media ()
