<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-ms-12 col-xs-12 container-fluid" (window:beforeunload)="gameService.detectLeaver()">
  <div class="text-center" *ngIf="userService.currentUserData && !gameService.game" id="centerbutton">
    <div class="text-center" (click)="gameService.createGame(this.userService.currentUserData.id)">
      <a href="#" class="btn">
        <p>{{languageService.get('getToStart')}}</p>
      </a>
    </div>
  </div>
  <div class="container size">
    <div id="regulations" *ngIf="languageService.lang == 'ru'">
      <p>Эта простая, на первый взгляд, игрушка заставит Вас напрячь то серое вещество, которое, by default, должно находиться
        внутри черепной коробки каждого человека.</p>
      <p>Она, несомненно, является шедевром времяубивания на лекциях, уроках, а теперь и в Интернете.</p>
      <p>
        Правила игры очень просты:<br> 1. Оба Игрока загадывают четырёхзначное число. Цифры в числе не повторяются.<br> 2.
        Вы пытаетесь это число угадать, называя наугад (и не очень) свои варианты загаданного числа.<br> 3. На каждую вашу
        попытку, компьютер Вам сообщает кое-что про соответствие между цифрами загаданного противником числа и вашего варианта,
        а именно - количество "быков" и "коров":
      </p>
      <h3 class="Bow">
        <p><b>"Быки"</b> - это те цифры вашего числа, расположение которых поразрядно совпадает с цифрами загаданного числа;
        </p>
      </h3>
      <h3 class="Cow">
        <p>
          <b>"Коровы"</b> - это те цифры вашего числа, которые присутствуют в загаданном числе, но находятся в другом месте
          (в другом разряде, на другой позиции).</p>
      </h3>
      <p>Рассмотрим пример:</p><br>
      <p class="example">Загадано число <b>"2308"</b>. <br> В числе присутствуют цифры - 2, 3, 0, 8; <br> На ваши попытки его угадать, вы получите
        ответ:
        <br> <b>1. "1234" - Быков: 0, Коров: 2</b> ("Коровы" цифры 2 и 3, так как они присутствуют в загаданном числе, но
        находятся не на своих местах); <br> <b>2. "5678" - Быков: 1, Коров: 0</b> ("Бык" это цифра 8, находится на 4-й позиции,
        т.е. на месте);
        <br> <b>3. "2380" - Быков: 2, Коров: 2</b> ( 2, 3 - Быки, 8, 0 - Коровы, 2 и 3 на местах, 8, 0 не на местах ). <br>        и т.д.</p>
      <p>В среднем, пытливому уму требуется от 6 до 8 попыток, чтобы отгадать любое 4-х значное число.</p>
    </div>
    <div id="regulations" *ngIf="languageService.lang == 'en'">
      <p>This simple game will make you strain that gray matter, which, by default, must be inside each person's skull.</p>
      <p>It is a masterpiece of killing time on lectures, lessons, and now on the net.</p>
      <p>
        The rules of the game are very simple:<br> 1. Both players think of a four-digit number. The figures in the number
        should not repeat. <br> 2. You are trying to guess this number by calling at random (or not) variants of the number
        you have envisioned. <br> 3. For every try, the computer tells you something about the parity between the numbers
        of the enemy's number and your option, the number of "Bulls" and "Cows":
      </p>
      <h3 class="Bow">
        <p><b>"Bulls"</b> - these are the numbers of your number, the location of which is digitally the same as the digits
          of the number;
        </p>
      </h3>
      <h3 class="Cow">
        <p>
          <b>"Cows"</b> - these are the numbers of your number that are present in the number you want, but are in a different
          place (at a different position). </p>
      </h3>
      <p>Consider an example:</p><br>
      <p class="example">The number <b> "2308" </b> has been thinked of.<br> Among the digits there are 2, 3, 0, 8; <br> On your attempts to
        guess it, you will get answer:          <br> <b> 1. "1234" - Bulls: 0, Cows: 2 </b> ("Cows" figures 2 and 3, since
        they are present in the number figures, but are not in their places);
        <br> <b> 2. "5678" - Bulls: 1, Cows: 0 </b> ("Bull" is the number 8, is on the 4th position, those. On the
        spot);          <br><b> 3. "2380" - Bulls: 2, Cows:  </b> (2, 3 - Bulls, 8, 0 - Cows, 2 and 3 on the spot, 8, 0
        are not in their places). <br> and so on </p>
      <p>On average, the inquisitive mind requires 6 to 8 attempts to guess any 4-digit number.</p>
    </div>
  </div>
</div>